extends layout
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Download

        // register form
        form(method='POST' action='/download')
          div.form-group
            label(for='url') URL:
            input#url.form-control(type='text', placeholder='url of video' name='url')
          button.btn.btn-primary(type='submit') Download
